In [1]:
import pandas as pd
import numpy as np

In [8]:
#df_complete_nodes_list.to_csv(r'C:\Users\bhargav sai\empty.csv', index = False)
df1=pd.read_csv(r'C:\Users\bhargav sai\final.csv',encoding='cp1252')

In [20]:
df1

,ï»¿BranchesFrom,Vessel,VesselType,BodyPart
0,left atrium,left atrium,heart chamber,heart chamber
1,left atrium,left inferior pulmonary vein,vein,lung
2,left atrium,left superior pulmonary vein,vein,lung
3,left atrium,right inferior pulmonary vein,vein,lung
4,left atrium,right superior pulmonary vein,vein,lung
...,...,...,...,...
863,right interlobar pulmonary artery,posterior segmental artery of right lung,artery,lung
864,right interlobar pulmonary artery,superior segmental artery of right lung,artery,lung
865,right pulmonary artery,truncus anterior of right pulmonary artery,artery,lung
866,truncus anterior of right pulmonary artery,anterior segmental artery of right lung,artery,lung
867,truncus anterior of right pulmonary artery,apical segmental artery of right lung,artery,lung

In [12]:
#unique bodypart data frame
body_part_type_dataframe=pd.DataFrame()
body_part_type_dataframe['nodes']=df1.BodyPart.unique()

# Braches from data frame
BranchesFrom_data_frame=pd.DataFrame()  
BranchesFrom_data_frame['nodes']=df1.BodyPart.unique()

#vessels data frame
Vessel_data_frame=pd.DataFrame()
Vessel_data_frame['nodes']=df1.Vessel.unique()

In [19]:
#conactinating all the data frames to from a single nodes list

df_complete_nodes_list = pd.concat([body_part_type_dataframe,BranchesFrom_data_frame,Vessel_data_frame])
#eliminating duplicates 

df_complete_nodes_list = df_complete_nodes_list.drop_duplicates('nodes')
#putting node IDS

df_complete_nodes_list.index = np.arange(1, len(df_complete_nodes_list)+1)
df_complete_nodes_list['ID']=df_complete_nodes_list.index

#EXPORTING NODES LIST TO CSV
df_complete_nodes_list.to_csv(r'C:\Users\bhargav sai\NODESLIST2.csv', index = False)

In [27]:
#ATTACHING BRANCHES FROM TO BODY PART
#SOURCE:BRANCHES FROM,  TARGET: BODY PART
column_names=["Source","Target"]
edges_data_frame=pd.DataFrame(columns = column_names)
Source_list=[]
target_list=[]
for index, row in df1.iterrows():
    for index1, row1 in df_complete_nodes_list.iterrows():
            if row['ï»¿BranchesFrom']==row1['nodes'] :
                 Source_list.append(row1['ID'])
                
                
            if row['BodyPart']==row1['nodes']:
                target_list.append(row1['ID'])
print(len(Source_list), len(target_list))
for i in range (0,len(Source_list)):
    edges_data_frame=edges_data_frame.append({'Source':Source_list[i],"Target":target_list[i]}, ignore_index=True)

868 868

In [29]:
#attaching vessel to body part
#SOURCE:vessel,  TARGET: Branches from
Source_list=[]
target_list=[]
for index, row in df1.iterrows():
    for index1, row1 in df_complete_nodes_list.iterrows():
            if row['Vessel']==row1['nodes'] :
                 Source_list.append(row1['ID'])
                
                
            if row['ï»¿BranchesFrom']==row1['nodes']:
                target_list.append(row1['ID'])
print(len(Source_list), len(target_list))
for i in range (0,len(Source_list)):
    edges_data_frame=edges_data_frame.append({'Source':Source_list[i],"Target":target_list[i]}, ignore_index=True)

868 868

In [32]:
#exporting to csv
edges_data_frame.to_csv(r'C:\Users\bhargav sai\edgeslist2.csv', index = False)

In [30]:
 edges_data_frame

     Source Target
0        50      1
1        50      2
2        50      2
3        50      2
4        50      2
...     ...    ...
1731    913    905
1732    914    905
1733    915    904
1734    916    915
1735    917    915

[1736 rows x 2 columns]